EAI_RestType_O3PL/Schemas/O3PL/O3PL_MERP_ONL_0006_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/O3PL_MERP_ONL_0006_Request" xmlns:tns="http://www.example.org/O3PL_MERP_ONL_0006_Request" elementFormDefault="qualified">
	<element name="element">
		<complexType>
			<sequence>
				<element name="REQUEST_LIST" minOccurs="1"
								maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="NO_WAYBILL" type="string"
								minOccurs="1" maxOccurs="1">
							</element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>